<div class="carousel slide carousel-torres" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <picture>
          <source srcset="imagens/slideDicasQuadrado.jpg" media="(max-width:950px)">
          <img src="imagens/slideDicasFull.jpg" alt="Image">
        </picture> 
      </div>
    </div>
</div>


  
<div class="container text-center cont-dicas" id="dicas"> 
  <div class="row row-dicas-title">
    <div class="col-sm-12">
      <h2 class="headline">Dicas e Receitas</h2>
    </div>
  </div>
  <div class="row row-dicas-menu">
    <div class="col-sm-12">
      <ul>
        <li>Filtrar por:</li>
        <li><a>Todos</a></li>
        <li><a>Dicas</a></li>
        <li><a>Receitas</a></li>
        <li><a>Notícias</a></li>
      </ul>
    </div>    
    <div class="col-sm-12">
      <h2 class="headline headline__philosopher headline__borderDashed headline__borderDashed__dark headline__inlineBlock headline__margin40 headline___marginTop0"><a data-toggle="modal" data-target="#tabela" href="#">Tabela de Preparo de Carne para Churrasco</a></h2>
    </div>
  </div>


  <div class="row row-dicas row-dicas__marginBottom row-dicas__colors">
    <div class="col-sm-6 row-dicas__col-video">
      <dir class="embed-responsive embed-responsive-4by3 row-dicas__video">
        <iframe class="row-dicas__video__youtube embed-responsive-item" src="https://www.youtube.com/embed/-izD8jtTo_c?showinfo=0"></iframe>
      </dir>
    </div>
    <div class="col-sm-6 row-dicas__col-texto row-dicas__col-texto__paddingTop0"> 
      <div class="row-dicas__col-texto--wrapper">
        <h2 class="headline headline__philosopher headline__margin30 headline__bold headline__marginTop0">Frigorífico Torres na Midia</h2>
       <p>Reportagem do SPTV de 2009 gravada no Frigorífico Torres, com depoimento do Maneco. 
        </p>
      </div>
      <a class="row-dicas__col-texto__linkVejaMais" data-toggle="modal" data-target="#dica1" href="#">Veja +</a>
      <!-- Modal -->
      <div class="modal fade" id="dica1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div> 

  <div class="row row-dicas row-pagina-dicas row-dicas__marginBottom row-dicas__colors">
    <div class="col-sm-6 row-dicas__col-video">
      <dir class="embed-responsive embed-responsive-4by3 row-dicas__video">
        <img src="imagens/dicasChonrizo.png">
      </dir>
    </div>
    <div class="col-sm-6 row-dicas__col-texto row-dicas__col-texto__paddingTop0"> 
      <div class="row-dicas__col-texto--wrapper">
          <h2 class="headline headline__philosopher headline__margin30 headline__bold headline__marginTop0">Bife de chorizo com  Chimichurri Torres</h2>
          <ul>          
            <li>Corte o contra-filé em bifes de 3 cm de altura, ou 200g de peso.</li>
            <li>Faça um ou dois talhos na gordura para evitar que o bife se curve durante o cozimento.</li>
            <li>Tempere-o com sal (apesar de alguns ortodoxos preferirem salgar após o cozimento) e leve à grelha, ou a uma frigideira antiaderente bem quente (de preferência uma específica de carnes, com ondulações para grelhados).</li>
            <li>O tempo necessário de grelha depende da grossura e do gosto dos comensais.</li>
            <li>Para mal passado, deixe a carne dourar de 1 lado e, quando começar a suar em cima, vire-a, dourando-a do outro lado.</li>
            <li>Retire-a e deixe descansar por 3 minutos antes de cortar.</li>
            <li>Para ao ponto, quando a carne começar a dourar de um lado, abaixe o fogo e deixe-a cozinhando um pouco mais lentamente, por mais 3 minutos.</li>
            <li>Volte a aumentar o fogo e vire-a, dourando do outro lado (teste pressionando-a com o dedo) por mais 3 minutos.</li>
            <li>O importante é virá-la apenas uma vez, para que mantenha o típico desenho das ondulações da grelha.</li>
            <li>Retire a carne do fogo e deixe descansando por 2 minutos coberta com um papel alumínio antes de cortar.</li>
            <li>Sirva com o chimichurri Torres.</li>
          </ul>
          <p>Boa harmonização com um vinho Malbec Argentino</p>
      </div>
      <a class="row-dicas__col-texto__linkVejaMais" data-toggle="modal" data-target="#dica2" href="#">Veja +</a>
      <!-- Modal -->
      <div class="modal fade" id="dica2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div> 

  <div class="row row-dicas row-pagina-dicas row-dicas__marginBottom row-dicas__colors">
    <div class="col-sm-6 row-dicas__col-video">
      <dir class="embed-responsive embed-responsive-4by3 row-dicas__video">
        <img src="imagens/dicasCarre.png">
      </dir>
    </div>
    <div class="col-sm-6 row-dicas__col-texto row-dicas__col-texto__paddingTop0"> 
      <div class="row-dicas__col-texto--wrapper">
          <h2 class="headline headline__philosopher headline__margin30 headline__bold headline__marginTop0">Carré de cordeiro com molho de hortelã Torres</h2>
          <h3 class="headline headline__margin20">Ingredientes</h3>
          <ul> 
            <li>2 peças de carré de cordeiro</li>
            <li>suco de 1 limão</li>
            <li>folhas de alecrim</li>
            <li>sal e pimenta do reino a gosto</li>
            <li>suco de 1/2 limão para finalizar</li>
            <br>
          </ul>
          <h3 class="headline headline__margin20">Modo de Preparo</h3>
          <ul>
            <li>Tempere os carrés dos dois lados com suco de limão, sal, pimenta do reino e folhas de alecrim. Massageie com as mãos para penetrar o sabor.</li>
            <li>Embrulhe os ossinho com papel alumínio para não queimar.</li>
            <li>Leve à churrasqueira – ou pode selar no fogão em uma frigideira e finalizar no forno – com a parte da gordura para cima. Deixe dourar e vire para dourar do outro lado.</li>
            <li>Retire o carré do fogo, deixe descansar 5 minutos e fatie rente aos ossinhos.</li>
            <li>Disponha na travessa de servir, esprema por cima um pouquinho de suco de 1/2 limão, e sirva acompanhado do molho de hortelã Torres.</li> 
          </ul>
          <p>Harmonização com vinho Syrah Uruguaio</p>
      </div>
      <a class="row-dicas__col-texto__linkVejaMais" data-toggle="modal" data-target="#dica3" href="#">Veja +</a>
      <!-- Modal -->
      <div class="modal fade" id="dica3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div> 
</div>







  
      <div class="modal fade" id="tabela" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">


            <div class="modal-header">
              <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">X</button>
            </div>


            <div class="modal-body">


              <div class="row">
                <div class="col-sm-12">
                    <table class="tabela">
                    <tr>
                      <td  colspan="5">
                        <h4>Tabela de Preparo de Carne para Churrasco</h4>
                      </td>
                    </tr>
                    <tr">
                      <th>Grupo</th>
                      <th>Cortes</th>
                      <th>Modo de Preparo</th>
                      <th>Altura da Grelha</th>
                      <th>Espessura do Bife</th>
                    </tr>

                    <tr">
                      <td>Alcatra</td>
                      <td>Baby beef, Bombom, Sirloin Steak e Medalhão de Alcatra</td>
                      <td>Bife</td>
                      <td>Baixa</td>
                      <td>3cm</td>
                    </tr>

                    <tr">
                      <td>Chonrizo</td>
                      <td>Chinrizo e New York Steak</td>
                      <td>Bife</td>
                      <td>Baixa</td>
                      <td>4cm</td>
                    </tr>

                    <tr">
                      <td>Noix</td>
                      <td>Ancho e Ribeye</td>
                      <td>Bife</td>
                      <td>Baixa</td>
                      <td>4cm</td>
                    </tr>

                    <tr">
                      <td>Picanha</td>
                      <td>Steak de Picanha e Picanha</td>
                      <td>Bife</td>
                      <td>Baixa</td>
                      <td>2.5cm</td>
                    </tr>

                    <tr">
                      <td>Fraldão</td>
                      <td>Fraldinha, Assado Gaucho e Skirt Beef</td>
                      <td>Peça inteira</td>
                      <td>Media</td>
                      <td>-</td>
                    </tr>

                    <tr">
                      <td>Maminha</td>
                      <td>Maminha e Rampsteak</td>
                      <td>Peça inteira</td>
                      <td>Alta</td>
                      <td>-</td>
                    </tr>

                    <tr">
                      <td>Filet Mingon</td>
                      <td>Chateaubriand, Filet Mingon Peça e Medalhão</td>
                      <td>Bife</td>
                      <td>Baixa</td>
                      <td>3.5cm</td>
                    </tr>

                    <tr">
                      <td>Especiais</td>
                      <td>Assado de Tira
                        <br>Prime Rib
                        <br>Porterhouse
                        <br>T-bone Master,T-bone Junior
                        <br>Costela Janela
                      </td>
                      <td>Bife
                        <br>Bife
                        <br>Bife
                        <br>Bife
                        <br>Bife
                        <br>Peça Inteira
                      </td>
                      <td>Media
                        <br>Media
                        <br>Media
                        <br>Media
                        <br>Media
                        <br>Alta
                      </td>
                      <td>1.5cm
                        <br>4cm
                        <br>3cm
                        <br>2.5cm
                        <br>2cm
                        <br>-
                      </td>
                    </tr>

                    <tr">
                    <td>Cordeiro</td>
                      <td>Carré
                        <br>Pernil e Paleta</td>
                      <td>Peça Inteira
                        <br>Peça Inteira</td>
                      <td>Media
                        <br>Alta</td>
                      <td>-<br>-</td> 
                    </tr>

                    <tr">
                      <td>Industrializado</td>
                      <td>Hamburger Premium<br>Picanha<br>Calabresa e Kobe</td>
                      <td>Bife</td>
                      <td>Baixa</td>
                      <td>2cm</td>
                    </tr>

                    <tr">
                      <td>Kobe</td>
                      <td>Strip Loin (Chonrizo) e Ribeve (Ancho)<br>Tenderloin (Filet Mingon)<br>Skirt Beef (Fraldinha)</td>
                      <td>Bife<br>Bife<br>Peça inteira</td>
                      <td>Baixa<br>Baixa<br>Media</td>
                      <td>3cm<br>3.5cm<br>-</td>
                    </tr>

                    <tr">
                      <td>Suino</td>
                      <td>Picanha Suína<br>Costela Suína</td>
                      <td>Bife<br>Peça Inteira</td>
                      <td>Baixa<br>Media</td>
                      <td>2.5cm<br>-</td>
                    </tr>

                    <tr">
                      <td>Linguiça</td>
                      <td>Toscana, Calabreza e Lombo</td>
                      <td>Peça Inteira</td>
                      <td>Media</td>
                      <td>-</td>
                    </tr>

                    <tr">
                      <td>Frango</td>
                      <td>Filé de Peito</td>
                      <td>Bife</td>
                      <td>Media</td>
                      <td>2.5cm</td>
                    </tr>
                    </table>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
