<div class="carousel slide carousel-torres" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <picture>
          <source srcset="imagens/slideHistoriaQuadrado.jpg" media="(max-width:950px)">
          <img src="imagens/slideHistoriamenor.jpg" alt="Frigorifico Torres">
        </picture> 
      </div>
    </div>
</div>



<div class="container text-center cont-empresa" id="dicas"> 
  <div class="row row-empresa-title">
    <div class="col-sm-12">
      <h2 class="headline">Nossa Empresa</h2>
    </div>
  </div>
  <div class="row row-empresa">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <img class="row-empresa__imagem row-empresa__imagem--sombra" src="imagens/torres_img_texto.jpg">
       <p class="row-empresa__texto">A história da família espanhola que ao fugir da guerra encontrou no Brasil um lugar para realizar seus sonhos. Manuel Recena Torres abriu, no final da década de 60, um pequeno estabelecimento onde produzia e vendia linguiças. Contava apenas com a experiência de anos trabalhando como feirante e com a ajuda da mulher Agustina Quevedo Moreno e dos filhos. Começar uma nova vida num país estranho não é fácil. Mas com muito trabalho e dedicação, os produtos de sabor e tempero inconfundíveis cativaram cada vez mais clientes. Com o sucesso, o estabelecimento cresceu e passou a não apenas produzir lingüiça, mas também a vender diversos tipos de carne. Hoje o Frigorífico Torres é conhecido por sua excelência em qualidade e clientela fiel. Continua no mesmo endereço, mas de um pequeno estabelecimento na década de 60, se transformou em uma empresa que possui loja com variedade de produtos, fábrica de produção que segue rigorosamente as regras do SIF (Serviço de Inspeção Federal), industrialização de embutidos, produtos defumados e carnes temperadas especiais. Possui ainda equipe de funcionários treinados e qualificados e estacionamento próprio. Estamos localizados entre a estação Conceição e Jabaquara do Metrô.</p>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>


<div class="outer-container-calculadora" id="calculadora">
  <div class="container text-center cont-calculadora"> 
  <div class="row row-dicas-title">
    <div class="col-sm-12">
      <h2 class="headline headline__philosopher headline__margin30 headline__bold display-none">Historia</h2>
    </div>
  </div>
    <div class="row row-calculadora">
      <div class="col-sm-2">
     </div>
    <div class="col-sm-8"> 

          <div class="info-empresa-temporario">

            <img src="imagens/historia2.jpg">
            <p>Fachada do Frigorífico Torres em Junho de 1989.</p>
          </div>


          <div id="myCarousel2" class="carousel slide carousel-timeline display-none" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel2" data-slide-to="0" class="active"><span>1958</span></li>
              <li data-target="#myCarousel2" data-slide-to="1"><span>1964</span></li>
              <li data-target="#myCarousel2" data-slide-to="2"><span>1976</span></li>
              <li data-target="#myCarousel2" data-slide-to="3"><span>1994</span></li>
              <li data-target="#myCarousel2" data-slide-to="4"><span>2002</span></li>
              <li data-target="#myCarousel2" data-slide-to="5"><span>2010</span></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="imagens/historia1.jpg" alt="Frigorifico Torres" style="width:30%;">
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  Assumenda, quae? Commodi, enim repellendus quam magni nostrum  temporibus eum velit repellat error officia nesciunt neque ex mpore soluta architecto eaque fugit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quae? Commodi, enim repellendus quam magni nostrum temporibus eum velit repellat error officia nesciunt neque ex tempore soluta architecto eaque fugit.Assumenda, quae? Commodi, enim repellendus quam magni nostrum temporibus eum velit repellat error officia nesciunt neque ex tempore soluta architecto eaque fugit.
                  </p>
              </div>

              <div class="item">
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  Assumenda, quae? Commodi, enim repellendus quam magni nostrum  temporibus eum velit repellat error officia nesciunt neque ex mpore soluta architecto eaque fugit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quae? Commodi, enim repellendus quam magni nostrum temporibus eum velit repellat error officia nesciunt neque ex tempore soluta architecto eaque fugit.Assumenda, quae? Commodi, enim repellendus quam magni nostrum temporibus eum velit repellat error officia nesciunt neque ex tempore soluta architecto eaque fugit.
                  </p>
              </div>
            
              <div class="item">
                <img src="imagens/historia1.jpg" alt="Frigorifico Torres" style="width:30%;">
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  Assumenda, quae? Commodi, enim repellendus quam magni nostrum  temporibus eum velit repellat error officia nesciunt neque ex mpore soluta architecto eaque fugit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quae? Commodi, enim repellendus quam magni nostrum temporibus eum velit repellat error officia nesciunt neque ex tempore soluta architecto eaque fugit.Assumenda, quae? Commodi, enim repellendus quam magni nostrum temporibus eum velit repellat error officia nesciunt neque ex tempore soluta architecto eaque fugit.
                  </p>
              </div>
              <div class="item">
                <img src="imagens/historia1.jpg" alt="Frigorifico Torres" style="width:30%;">
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  Assumenda, quae? Commodi, enim repellendus quam magni nostrum  temporibus eum velit repellat error officia nesciunt neque ex mpore soluta architecto eaque fugit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quae? Commodi, enim repellendus quam magni nostrum temporibus eum velit repellat error officia nesciunt neque ex tempore soluta architecto eaque fugit.Assumenda, quae? Commodi, enim repellendus quam magni nostrum temporibus eum velit repellat error officia nesciunt neque ex tempore soluta architecto eaque fugit.
                  </p>
              </div>

              <div class="item">
                <img src="imagens/historia1.jpg" alt="Frigorifico Torres" style="width:30%;">
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  Assumenda, quae? Commodi, enim repellendus quam magni nostrum  temporibus eum velit repellat error officia nesciunt neque ex mpore soluta architecto eaque fugit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quae? Commodi, enim repellendus quam magni nostrum temporibus eum velit repellat error officia nesciunt neque ex tempore soluta architecto eaque fugit.Assumenda, quae? Commodi, enim repellendus quam magni nostrum temporibus eum velit repellat error officia nesciunt neque ex tempore soluta architecto eaque fugit.
                  </p>
              </div>
            
              <div class="item">
                <img src="imagens/historia1.jpg" alt="Frigorifico Torres" style="width:30%;">
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  Assumenda, quae? Commodi, enim repellendus quam magni nostrum  temporibus eum velit repellat error officia nesciunt neque ex mpore soluta architecto eaque fugit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quae? Commodi, enim repellendus quam magni nostrum temporibus eum velit repellat error officia nesciunt neque ex tempore soluta architecto eaque fugit.Assumenda, quae? Commodi, enim repellendus quam magni nostrum temporibus eum velit repellat error officia nesciunt neque ex tempore soluta architecto eaque fugit.
                  </p>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel2" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>