
  
<div class="container text-right cont-contato" id="contato"> 
  <div class="row row-contato">

    <div class="col-sm-6 col-sm-push-6 col-sm-6-formulario">

      <h2 class="headline headline__center">Contato</h2>
      <ul>
        <li><img src="imagens/arroba.png"> <a href="mailto:contato@frigorificotorres.com.br">contato@frigorificotorres.com.br</a></li>
        <li><span class="glyphicon">&#xe182;</span> (11) 5011-1255</li>
      </ul>
      <form class="form-content" action="contato-exe.php" method="post">


        <input type="text" id="name" required placeholder="Nome" name="nome">
        <input type="email" class="input-menor" required id="email" placeholder="E-email" name="email">
        <input type="text"  class="input-menor" required id="tel" placeholder="Telefone" name="fone">
        <textarea class="form-control" required placeholder="Mensagem" name="msg" rows="5" id="comment"></textarea>

        <button type="submit" class="btn btn-default">ENVIAR</button>

        <input type="hidden" name="contato" value="contato">
     
      </form>
    </div>


    <div class="col-sm-6 col-sm-pull-6 col-sm-6-mapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.999359280843!2d-46.64481138502083!3d-23.640193984643854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5aef6b043f4b%3A0x7647ad0bd8ec888d!2sFrigor%C3%ADfico+Torres!5e0!3m2!1spt-BR!2sbr!4v1528653956991" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
  
<div class="container text-center cont-newsletter" id="cont-newsletter"> 
  <div class="row row-newsletter">

    <div class="col-sm-2 col-sm-2-logo">
      <div class="wrap-logo-soc-newsletter">
        <img class="logo-newsletter" src="imagens/logo_torres.png" class="img-responsive" style="width:100%" alt="Image">

        <ul class="menu-soc-links-newsletter">
          <li><a href="https://pt.foursquare.com/v/frigor%C3%ADfico-torres/4c5d83466147be9aed279209" target="_blank"><img src="imagens/001-foursquare-logo-black.png"></a></li>
          <li><a href="https://www.facebook.com/frigorificotorres/" target="_blank"><img src="imagens/002-facebook-logo-button-black.png"></a></li>
          <li><a href="https://www.instagram.com/frigorificotorres/" target="_blank"><img src="imagens/001-instagram-logo-black.png"></a></li>
        </ul>
      </div>
    </div>
   
    <div class="col-sm-3"> 
      <div class="div-newsletter">
       <p>Receba  <span>Novidades e Ofertas</span></p>
      <form action="contato-exe.php" methods="POST" class="input-group form-newsletter">
        <input type="hidden" name="newsletter" value="news">
        <input type="email" class="form-control" required name="news-email" placeholder="Digite seu e-mail">
        <span class="input-group-btn">
          <button class="btn btn-theme btn-ok" type="submit">OK</button>
        </span>
      </form>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="div-instagram">
        <span>Instagram</span>
      <!-- LightWidget WIDGET --><script src="http://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/a20e401a4f5f55ada99919ff82daab51.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="atendimento-loja">
        <span>Atendimento <spam>Loja</spam></span>
        <p>Telefone: (11) 5011-1255<br>
          Avenida General Valdomiro de Lima, Nº 125<br>CEP 04344-70
          JABAQUARA - SÃO PAULO - SP</p>
        <p>Horário de Funcionamento:<br>
          Segunda a Sabado - 07:00 as 20:00<br>
          Domingos e Feriados - 07:00 as 14:00</p>
      </div>
    </div>
  </div>

  <div class="row row-newsletter-menu">

    <div class="col-sm-12 col-sm-12-newsletter-menu">
            <div class="navbar">
              <ul class="nav navbar-nav nav-newsletter-menu">
                <li><a class="linkMenu" href="empresa.html">Empresa</a></li>
                <li><a class="linkMenu" href="#produtos">Produtos</a></li>
                <li><a class="linkMenu" href="#calculadora">Calculo de Churrasco</a></li>
                <li><a class="linkMenu" href="#dicas">Dicas</a></li>
                <li><a class="linkMenu" href="#contato">Contato</a></li>
              </ul>
            </div>
          </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center"> 

  <div class="container">
    <div class="row row-footer">
      <div class="col-sm-12">

        <nav class="navbar navbar-inverse navbar-footer">
          <div class="container-fluid">
              <ul class="nav navbar-nav ul-navbar-cards">
                <li>FORMAS DE PAGAMENTOS</li>
                <li><a href="#"><img src="imagens/elo.png"></a></li>
                <li><a href="#"><img src="imagens/amex.png"></a></li>
                <li><a href="#"><img src="imagens/diners.png"></a></li>
                <li><a href="#"><img src="imagens/maestro.png"></a></li>
                <li><a href="#"><img src="imagens/visa.png"></a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right ul-navbar-kgrnet">
                <li>Produzido por:</li>
                <li><a href="https://www.kgrnet.com.br/" target="_blank"><img src="imagens/logo-preto.png"></a></li>
              </ul>
          </div>
        </nav>

      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/smooth_scroll_menu_links.js"></script>
<script type="text/javascript" src="js/productFilter.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript" src="js/slick.js"></script>
<script type="text/javascript" src="js/menuFixo.js"></script>
<script type="text/javascript" src="js/verificaUrl.js"></script>
<script type="text/javascript" src="js/calculadora.js"></script>
<script type="text/javascript" src="js/modaldicas.js"></script>
<script type="text/javascript" src="js/request.js"></script>
<script type="text/javascript" src="js/sweet-alert.js"></script>


</body>
</html>
