<div id="myCarousel" class="carousel slide carousel-torres" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <picture>
          <source srcset="imagens/slideQuadrado7.jpg" media="(max-width:950px)">
          <img src="imagens/slideFull7.jpg" alt="Image">
        </picture>
      </div>
      <div class="item">
        <picture>
          <source srcset="imagens/slideQuadrado6.jpg" media="(max-width:950px)">
          <img src="imagens/slideFull6.jpg" alt="Image">
        </picture>
      </div>
      <div class="item">
        <picture>
          <source srcset="imagens/slideQuadrado1.jpg" media="(max-width:950px)">
          <img src="imagens/slideFull1.jpg" alt="Image">
        </picture>
        <div class="carousel-caption">
          <h3 class="headline headline__line35 headline__marginTopBottom0">Produtos Exclusivos,<br>De primeira Linha</h3>
        </div>      
      </div>
      <div class="item">
        <picture>
          <source srcset="imagens/slideQuadrado4.jpg" media="(max-width:950px)">
          <img src="imagens/slideFull4.jpg" alt="Image">
        </picture>
        <div class="carousel-caption">
          <h3 class="headline headline__line35 headline__marginTopBottom0">Conheça nossos<br>Cortes da Casa</h3>
        </div>      
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="container text-center cont-promo-title">
  <div class="row row-promo-title">  
    <div class="col-sm-12">
      <h2 class="headline headline__philosopher headline__margin40"  style="display: none;">CONHEÇA AS NOSSAS PROMOÇÕES SEMANAIS</h2>
      <p  class="headline headline__philosopher headline__margin40" style=" max-width:800px; margin-left: auto;margin-right: auto;font-size: 2rem;" >Obrigada por confiar em nossos produtos.<br>Trabalhamos sempre pensando no melhor para você! E nesta época festiva desejamos um Feliz Natal e um Ano Novo muito próspero. Esperamos, por mais um ano, compartilhar grandes momentos e conquistas!</p>
    </div>
  </div>
  
</div>
  
<div class="container text-center cont-promo"> 
  <div class="row row-promo">
    <div class="col-sm-3 col-promo">
      <div class="col-promo-content">
        <span class="col-promo-content__etiqueta-promo">R$ 19,80<br>o quilo</span>
        <span class="col-promo-content__title">Patinho</span>
        <img src="imagens/patinho.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
    <div class="col-sm-3 col-promo">
      <div class="col-promo-content">
        <span class="col-promo-content__etiqueta-promo">R$ 19,80<br>o quilo</span>
        <span class="col-promo-content__title">Coxão Mole</span>
        <img src="imagens/coxao-mole.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
    <div class="col-sm-3 col-promo">
      <div class="col-promo-content">
        <span class="col-promo-content__etiqueta-promo">R$ 19,80<br>o quilo</span>
        <span class="col-promo-content__title">Coxão Duro</span>
        <img src="imagens/coxao-duro.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
    <div class="col-sm-3 col-promo">
      <div class="col-promo-content">
        <span class="col-promo-content__etiqueta-promo">R$ 19,80<br>o quilo</span>
        <span class="col-promo-content__title">Lagarto</span>
        <img src="imagens/lagarto.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
</div>

<div class="container text-center cont-promo-texto" style="display: none;">
  <div class="row">  
    <div class="col-sm-12">
      <p class="">* promoção valida de segunda a quinta, exceto feriados.</p>
    </div>
    <div class="col-sm-12">
      <h2 class="headline headline__marginBottom0 headline__philosopher headline__borderDashed headline__borderDashed__dark headline__inlineBlock"><a href="#cont-newsletter" class="botaoAssineNewsletter">Assine nossa newsletter para receber promoções exclusivas!</a></h2>
    </div>
  </div>  
</div>

<div class="cont-produtos" id="produtos">    
  <div class="container text-center">
    <div class="row row-produto-title">
      <div class="col-sm-12">
        <h2 class="headline">Linha de Produtos</h2>
      </div>
    </div>
    <div class="row row-produtos">
      <div class="col-produtos">
        <h4>Maturatta</h4>
        <img src="imagens/maturatta1.jpg" class="img-responsive" style="width:100%" alt="Image">
        <a href="produtos.html"><p>veja +</p></a>
      </div>

      <div class="col-produtos"> 
        <h4>Bassi</h4>
        <img src="imagens/bassi1.jpg" class="img-responsive" style="width:100%" alt="Image">
        <a href="produtos.html"><p>veja +</p></a>
      </div>

      <div class="col-produtos">
        <h4>Montana</h4>
        <img src="imagens/montana1.jpg" class="img-responsive" style="width:100%" alt="Image">
        <a href="produtos.html"><p>veja +</p></a>
      </div>

      <div class="col-produtos">
        <h4>Steak House</h4>
        <img src="imagens/steak_house1.jpg" class="img-responsive" style="width:100%" alt="Image">
        <a href="produtos.html"><p>veja +</p></a>
      </div>

      <div class="col-produtos">
        <h4>Swift Black Angus</h4>
        <img src="imagens/swift_black1.jpg" class="img-responsive" style="width:100%" alt="Image">
        <a href="produtos.html"><p>veja +</p></a>
      </div>

    </div>
  </div>

  <div class="container text-center">
    <div class="row row-produto-title">
      <div class="col-sm-12">
        <h2 class="headline">Produtos de Fabricação Própria</h2>
      </div>
    </div>
    <div class="row row-produtos">

      <div class="col-produtos"> 
        <h4>Cortes</h4>
        <img src="imagens/bifeAnchoTorres.jpg" class="img-responsive" style="width:100%" alt="Image">
        <a href="produtos.html"><p>veja +</p></a>
      </div>

      <div class="col-produtos">
        <h4>Linguiças</h4>
        <img src="imagens/lingCordeiro.jpg" class="img-responsive" style="width:100%" alt="Image">
        <a href="produtos.html"><p>veja +</p></a>
      </div>

      <div class="col-produtos">
        <h4>Espetos</h4>
        <img src="imagens/espetoContraTorres.jpg" class="img-responsive" style="width:100%" alt="Image">
        <a href="produtos.html"><p>veja +</p></a>
      </div>

      <div class="col-produtos">
        <h4>Defumados</h4>
        <img src="imagens/pernil_defumado1.jpg" class="img-responsive" style="width:100%" alt="Image">
        <a href="produtos.html"><p>veja +</p></a>
      </div>

    </div>
      <div class="col-sm-12">
        <h2 class="headline headline__marginBottom0 headline__philosopher headline__borderDashed headline__inlineBlock"><a href="produtos.html">Conheça toda a nossa Linha de Produtos</a></h2>
      </div>
  </div>
</div>
  
<div class="container text-center cont-dicas" id="dicas"> 
  <div class="row row-dicas-title">
    <div class="col-sm-12">
      <h2 class="headline">Dicas e Receitas</h2>
    </div>
  </div>
  <div class="row row-dicas">
    <div class="col-sm-5 row-dicas__col-video">
      <dir class="embed-responsive embed-responsive-4by3  row-dicas__video  row-dicas__video--home">
        <img class="row-dicas__video__fundo" src="imagens/fundoTorres.png">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-izD8jtTo_c?showinfo=0"></iframe>
      </dir>
    </div>
    <div class="col-sm-5 row-dicas__col-texto"> 
      <a class="link-dicas" href="#">Dicas</a>
      <h2 class="headline headline__philosopher headline__margin30 headline__bold">Frigorífico Torres na Midia</h2>
       <p>Reportagem do SPTV de 2009 gravada no Frigorífico Torres, com depoimento do Maneco. 
        </p>

      <a class="link-todas-dicas" href="dicas.html">Veja todas as Dicas e Receitas</a>
    </div>
    <div class="col-sm-2">
    </div>
  </div>  
</div>
  
<div class="outer-container-calculadora" id="calculadora">
  <div class="container text-center cont-calculadora"> 
  <div class="row row-dicas-title">
    <div class="col-sm-12">
      <h2 class="headline headline__marginBottom0">Calculadora</h2>
    </div>
  </div>
    <div class="row row-calculadora">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4"> 
      <h3 class="headline headline__margin40">Churrasco</h2>
        <div class="wrap-form-calc clearfix">
          <form action="">
            <select name="adultos">
              <option selected disabled>Quantidade de Pessoas</option>
              <option value="2">2 Pessoas</option>
              <option value="3">3 Pessoas</option>
              <option value="4">4 Pessoas</option>
              <option value="5">5 Pessoas</option>
              <option value="6">6 Pessoas</option>
              <option value="7">7 Pessoas</option>
              <option value="8">8 Pessoas</option>
              <option value="9">9 Pessoas</option>
            </select>
          </form>
        </div>

        <ul class="lista-calc">
        </ul>
      </div>
      <div class="col-sm-4"> 
      <h3 class="headline headline__margin40">Feijoada</h2>
        <div class="wrap-form-calc clearfix">
          <form action="">
            <select name="adultos">
              <option selected disabled>Quantidade de Pessoas</option>
              <option value="2">2 Pessoas</option>
              <option value="3">3 Pessoas</option>
              <option value="4">4 Pessoas</option>
              <option value="5">5 Pessoas</option>
              <option value="6">6 Pessoas</option>
              <option value="7">7 Pessoas</option>
              <option value="8">8 Pessoas</option>
              <option value="9">9 Pessoas</option>
            </select>
          </form>
        </div>

        <ul class="lista-calc">
        </ul>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>

<div class="cont-produtos-aura">    
  <div class="container text-center">
    <div class="row row-produto-aura-title">
      <div class="col-sm-12">
        <h3 class="headline headline__margin10 headline__marginTop0">Conheça alguns produtos da</h3>
      </div>
      <div class="col-sm-12">
        <h2 class="headline headline__marginTopBottom0 headline__underline headline__fonteGrande"><a href="http://www.auraaciadochurrasqueiro.com.br/" target="_blank">Aura</a></h2>
      </div>
    </div>
    <div class="row row-produtos-aura">

      <div class="col-sm-3 col-sm-3-produtos-aura"> 
        <h4>Churasqueiras</h4>
        <a href="http://www.auraaciadochurrasqueiro.com.br/categoria.asp?idcategoria=96274&nivel=04&ordem=V&filtros=&de=0,00&ate=0,00&nrrows=12&idpage=1&idmarca=0&ViewType=M" target="_blank"><img src="imagens/aura2.png" class="img-responsive"alt="Churrasqueira Weber - Loja Aura"></a>
      </div>

      <div class="col-sm-3 col-sm-3-produtos-aura">
        <h4>Grelhas</h4>
        <a href="http://www.auraaciadochurrasqueiro.com.br/departamento/96258/0202/grelhas" target="_blank"><img src="imagens/aura4.jpg" class="img-responsive" alt="Grelha Argentina Gourmet - Loja Aura"></a>
      </div>

      <div class="col-sm-3 col-sm-3-produtos-aura">
        <h4>Réchauds</h4>
        <a href="http://www.auraaciadochurrasqueiro.com.br/departamento/103226/10/ferromaisfundido" target="_blank"><img src="imagens/aura5.jpg" class="img-responsive"alt="Réchauds e Bifeteiras - Loja Aura"></a>
      </div>

      <div class="col-sm-3 col-sm-3-produtos-aura">
        <h4>Acessorios</h4>
        <a href="http://www.auraaciadochurrasqueiro.com.br/departamento/95605/0201/acessf3rios" target="_blank"><img src="imagens/aura3.png" class="img-responsive"alt="Acessórios para Churrasco - Loja aura"></a>
      </div>

    </div>

    <div class="row row-produtos-aura">

      <div class="col-sm-3 col-sm-3-produtos-aura"> 
        <a href="https://www.auraaciadochurrasqueiro.com.br/produto/430770/churrasqueira-a-bafo-bravo-grill" target="_blank"><img src="imagens/ofertaBravoGrill.jpg" class="img-responsive"alt="Churrasqueira Bravo Grill - Loja Aura"></a>
      </div>

      <div class="col-sm-3 col-sm-3-produtos-aura">
        <a href="https://www.auraaciadochurrasqueiro.com.br/produto/444416/churrasqueira-sem-fumaca-aco-inox-escovado" target="_blank"><img src="/imagens/ofertaSemFumaca.jpg" class="img-responsive" alt="Churrasqueira Sem Fumaça - Loja Aura"></a>
      </div>

      <div class="col-sm-3 col-sm-3-produtos-aura">
        <a href="https://www.auraaciadochurrasqueiro.com.br/produto/450887/churrasqueira-inox-dls-50x40" target="_blank"><img src="imagens/ofertaChurrasqueiraDls.jpg" class="img-responsive"alt="Churrasqueira Inox DLS - Loja Aura"></a>
      </div>

      <div class="col-sm-3 col-sm-3-produtos-aura">
        <a href="https://www.auraaciadochurrasqueiro.com.br/produto/450884/garra-de-urso-em-aluminio-fundido-com-abridor" target="_blank"><img src="imagens/ofertaGarraAbridor.jpg" class="img-responsive"alt="Garra de Urso com Abridor - Loja aura"></a>
      </div>

    </div>
  </div>
</div>