<div class="carousel slide carousel-torres" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <picture>
          <source srcset="imagens/slideMapaBoiQuadrado.jpg" media="(max-width:950px)">
          <img src="imagens/slideMapaBoimenor.jpg" alt="Image">
        </picture>
      </div>
    </div>
</div>



<div class="cont-produtos" id="forn">    
  <div class="container text-center">
    <div class="row row-produto-title">
      <div class="col-sm-12">
        <h2 class="headline">Linha de Produtos</h2>
      </div>
    </div>
    <div class="row row-produtos row-produtos__select filter">
      <div class="col-sm-12">
        <ul>
          <li><a role="button" class="select-produtos ativo" data-filter="all">Todos</a></li>
          <li><a role="button" class="select-produtos" data-filter="maturatta">Maturatta</a></li>
          <li><a role="button" class="select-produtos" data-filter="bassi">Bassi</a></li>
          <li><a role="button" class="select-produtos" data-filter="montana">Montana</a></li>
          <li><a role="button" class="select-produtos" data-filter="tacuarembo">Cowpig Kenstar</a></li>
          <li><a role="button" class="select-produtos" data-filter="steak_house">Steak House</a></li>
          <li><a role="button" class="select-produtos" data-filter="swift_black">Swift Black Angus</a></li>
        </ul>
      </div>
      <div class="boxes">
        <div class="col-produtos" data-tipo="maturatta">

          <p>Maminha</p>          <img src="imagens/maturatta1.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo="maturatta">  
          <p>Fraldinha</p>
          <img src="imagens/maturatta2.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo="maturatta">

          <p>Picanha</p>          <img src="imagens/maturatta3.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo="bassi">

          <p>Fraldinha</p>          <img src="imagens/bassi1.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        
        <div class="col-produtos" data-tipo="bassi">

          <p>Picanha</p>          <img src="imagens/bassi2.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo="bassi"> 

          <p>Raquete</p>          <img src="imagens/bassi3.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-produtos" data-tipo="montana">

          <p>Filé de Costela</p>          <img src="imagens/montana1.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo="montana">

          <p>Fraldinha</p>          <img src="imagens/montana2.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo="montana">

          <p>Picanha</p>          <img src="imagens/montana3.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo="tacuarembo">

          <p>Acém (Short Ribs)</p>          <img src="imagens/kenstar.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo="tacuarembo">

          <p>Wagyu</p>          <img src="imagens/kenstar_wagyu.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo="steak_house">
          <p>Acém (Short Ribs)</p>  
          <img src="imagens/steak_house1.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo="steak_house">
          <p>Raquete</p>
          <img src="imagens/steak_house2.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo="swift_black">
          <p>Costela do Traseiro</p>
          <img src="imagens/swift_black1.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
      </div>
    </div>
    </div>
</div>


<div class="container text-center cont-promo-title cont-promo-title__azul" id="fabPropria">
  <div class="row row-promo-title">  
    <div class="col-sm-12">
      <h2 class="headline headline__philosopher headline__margin40">Produtos de Fabricação Própria</h2>
    </div>
  </div>
  
</div>

<div class="cont-produtos">    
  <div class="container text-center">

    <div class="row row-produtos row-produtos-torres row-produtos__select filter2">
      <div class="col-sm-12">
        <ul>
          <li><a role="button" class="select-produtos select-produtos-torres ativo-torres" data-filter="all2">Todos</a></li>
          <li><a role="button" class="select-produtos select-produtos-torres" data-filter="cortes">Cortes</a></li>
          <li><a role="button" class="select-produtos select-produtos-torres" data-filter="linguicas">Linguiças</a></li>
          <li><a role="button" class="select-produtos select-produtos-torres" data-filter="espetos">Espetos</a></li>
          <li><a role="button" class="select-produtos select-produtos-torres" data-filter="defumados">Defumados</a></li>
        </ul>
      </div>
      <div class="boxes2">
        <div class="col-produtos" data-tipo2="cortes">
          <p>Bife de Ancho</p>
          <img src="imagens/bifeAnchoTorres.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo2="espetos">  
          <p>Contra Filé</p>
          <img src="imagens/espetoContraTorres.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo2="linguicas">
          <p>Alcatra</p>
          <img src="imagens/lingAlcatra.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo2="linguicas">
          <p>Cordeiro</p>
          <img src="imagens/lingCordeiro.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        
        <div class="col-produtos" data-tipo2="espetos">
          <p>Lombo</p>
          <img src="imagens/espetoLombo.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo2="espetos"> 
          <p>Toscana</p>
          <img src="imagens/espLingToscana.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-produtos" data-tipo2="linguicas">
          <p>Calabresa Grossa</p>
          <img src="imagens/lingCalabGrossa.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo2="linguicas">
          <p>Cuiabana com Queijo</p>
          <img src="imagens/lingCuiabana.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo2="linguicas">
          <p>Frango</p>
          <img src="imagens/lingFrango.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo2="linguicas">
          <p>Lombo Puro</p>
          <img src="imagens/lingLomboPuro.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo2="linguicas">  
          <p>Toscana Provolone</p>
          <img src="imagens/lingToscanaProvolone.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo2="defumados">  
          <p>Paleta Tender</p>
          <img src="imagens/paleta_defumada1.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo2="defumados">  
          <p>Paleta Tender</p>
          <img src="imagens/paleta_defumada2.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo2="defumados">  
          <p>Pernil Tender</p>
          <img src="imagens/pernil_defumado1.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>

        <div class="col-produtos" data-tipo2="defumados">  
          <p>Pernil Tender</p>
          <img src="imagens/pernil_defumado2.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center cont-promo-title cont-promo-title__vermelho" id="acompanhamentoseacessorios">
  <div class="row row-promo-title">  
    <div class="col-sm-12">
      <h2 class="headline headline__philosopher headline__margin40">Acompanhamentos e Acessórios</h2>
    </div>
  </div>
  
</div>

<div class="cont-produtos">    
  <div class="container text-center">

    <div class="row row-produtos row-acessorios-torres row-produtos__select filter3">
      <div class="col-sm-12">
        <ul>
          <li><a role="button" class="select-produtos select-produtos-torres ativo-vermelho" data-filter="all3">Todos</a></li>
          <li><a role="button" class="select-produtos select-produtos-torres" data-filter="acompanhamentos">Acompanhamentos</a></li>
          <li><a role="button" class="select-produtos select-produtos-torres" data-filter="temperos">Temperos</a></li>
          <li><a role="button" class="select-produtos select-produtos-torres" data-filter="acessorios">Acessórios</a></li>
          <li><a role="button" class="select-produtos select-produtos-torres" data-filter="vinhos">Vinhos</a></li>
        </ul>
      </div>
      <div class="boxes3">
        <div class="col-produtos" data-tipo3="temperos">
          <p>Temperos budwiser</p>
          <img src="imagens/kitbudwiser.jpg" class="img-responsive" style="width:100%" alt="kit temperos Budwoser">
        </div>

        <div class="col-produtos" data-tipo3="acompanhamentos">  
          <p>Farofa Santa Rita</p>
          <img src="imagens/farofaSantaRita.jpg" class="img-responsive" style="width:100%" alt="Farofa Santa Rita">
        </div>

        <div class="col-produtos" data-tipo3="acompanhamentos">
          <p>Jamon Sierra Morena</p>
          <img src="imagens/jamonSierraMorena.jpg" class="img-responsive" style="width:100%" alt="Jamon Sierra Morena">
        </div>

        <div class="col-produtos" data-tipo3="acompanhamentos">
          <p>Bloody Mary Tabasco</p>
          <img src="imagens/bloodyMaryMix.jpg" class="img-responsive" style="width:100%" alt="Bloody Mary Tabasco">
        </div>

        <div class="col-produtos" data-tipo3="acessorios">
          <p>Assadeira Queijo</p>
          <img src="imagens/provoloneira.jpg" class="img-responsive" style="width:100%" alt="Assadeira para Provolone">
        </div>
        
        <div class="col-produtos" data-tipo3="vinhos">
          <p>Malbec Alfredo Roca</p>
          <img src="imagens/vinhoMalbecAlfredoRoca.jpg" class="img-responsive" style="width:100%" alt="Vinho Malbec Alfredo Roca">
        </div>
        <div class="col-produtos" data-tipo3="vinhos">
          <p>Nederburg 1971</p>
          <img src="imagens/nederburg1971.jpg" class="img-responsive" style="width:100%" alt="Vinho Nederburg 1971 Cabaret Sauvignon">
        </div>

        <div class="col-produtos" data-tipo3="vinhos">
          <p>Astica</p>
          <img src="imagens/astica.jpg" class="img-responsive" style="width:100%" alt="Vinho Astica">
        </div>

        <div class="col-produtos" data-tipo3="vinhos">
          <p>Nieto Senetiner</p>
          <img src="imagens/nietoSenetiner.jpg" class="img-responsive" style="width:100%" alt="Vinho Malbec Nieto Senetiner">
        </div>
      </div>
    </div>
  </div>
</div>