.headline{
	margin: 50px 0;
	font-family: 'Lobster',cursive;
	&__philosopher{
		font-family: 'Philosopher',sans-serif;
	}
	&__margin40{
		margin: 40px 0px;
	}
	&__margin30{
		margin: 30px 0px;
	}
	&__margin20{
		margin: 20px 0px;
	}
	&__margin10{
		margin: 10px 0px;
	}
	&__bold{
		font-weight: bold;
	}
	&__marginTopBottom0{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	&__marginTop0{
		margin-top: 0px;
	}
	&__marginBottom0{
		margin-bottom: 0px;
	}
	&__underline{
		text-decoration: underline;		
	}
	&__fonteGrande{
		font-size: 280% !important;
	}
	&__center{
		text-align: center;
	}
	&__line20{
		line-height: 20px;
	}
	&__line35{
		line-height: 35px;
	}
	&__line50{
		line-height: 50px;
	}
	*{
		color: inherit;
	}

	&__borderDashed{
		border: dashed #ffffff 1px;
		padding: 10px 20px;
		font-size: 3rem;
		&__dark{
			border-color: #000000;
		}
	}

	&__borderDashed:hover{
		border: solid #000000 1px;
		color: #000000;
		background-color: #ffffff;
	}


	&__borderDashed__dark:hover{
		border-color: #000000;
	background-color: #000000;
	color: #ffffff;
	}


	&__inlineBlock{
		display: inline-block;
		text-decoration: none;
	}
}
