$vermelho-header: #7b1913;
$azul-torres: #007EC0;
$vermelho: #Ff4444;

@import "normalize";

body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

*{
	text-decoration: none !important;
}

a:hover{
	text-decoration: none !important;
}

.display-none{
	display: none !important;
}

.navbar{
	min-height: initial;
	border: initial;
}

.navbar-social{
	font-family: 'Philosopher',sans-serif;
	padding:8px 100px;
	background-color: $vermelho-header;

	&__texto_end{
		color: #ffffff;
		transform: translateY(6px);
		font-size: 0.85em;
	}

	&__link_soc{
		padding: initial !important;
		margin: 0 10px;
	}
}



@media (max-width: 1300px){
.navbar-social{
	padding:8px 20px;
	}
}

.navbar-torres{
	background-color:#ffffff;

@media (min-width: 580px){
	.col-sm-12{
	max-height: 80px!important;
	z-index: 1
}
}
	&__navbar-brand-torres{
		height: initial;
		padding: 20px 8px;
		background-color: #ffffff;
		border-radius: 20px;
		box-shadow: 0px 12px 21px 1px rgba(0,0,0,0.2);
		&:hover{
			background-color: #ffffff !important;
		}
	}

	&__nav-menu-principal{
		position: relative;
		right: -16px;
		margin-top:20px;
		color: #000000;
		li{
				margin-left: 70px;
			a{
				color:#000000 !important;
				background-color: initial !important;
				padding: 10px 0px;
			}
		}

		li:hover{
			border-bottom: solid black;
		}
	}
}


.carousel-torres{

	.right.carousel-control, 
	.left.carousel-control {
    	opacity: 0;
    filter:alpha(opacity=0); /* IE support */
	}
	.item{
		max-height: 400px;
	}

	.carousel-caption{
		bottom: 73px;
		padding-left: 15%;
		padding-right: 65px;
		padding-top: 30px;
		padding-bottom: 30px;
		right: initial;
		left: initial;
		background-color: rgba(0,0,0,0.7);
	}
}
.cont-promo-title{
		background-color:$vermelho-header;
		color: #ffffff;
		width: 100%;
		&__azul{
			background-color: #007EC0;
		}
		&__vermelho{
			background-color: $vermelho;
		}
	}

.row-promo{
	margin-top: 80px;
	margin-bottom: 0px;
	.col-promo{
		padding: 15px;
		&--texto{
			outline: solid blue 3px;
			display: inline-block;
		}
		.col-promo-content{
			position: relative;
			padding: 5px 5px 5px 0px;			
			overflow: hidden;
				font-family: 'Philosopher',sans-serif;
				font-weight: bold;
			&__etiqueta-promo{
				box-sizing: border-box;
				position: absolute;
				background-color: #d53636;
				color: #ffffff;
				width: 100%;
				padding: 12px 0px;
				top: 10%;
				left: 30%;
				font-size: 130%;
				line-height: initial;
				z-index: 1;
				transform: rotate(45deg);
			}

			&__title{
				position: absolute;
				color: #ffffff;
				top: 45%;
				width: 100%;
				left: 0px;
				font-size: 210%;
				z-index: 1;
			}

			img{
				filter: brightness(50%);
			}

			img:hover{
				filter: brightness(100%);
				transition: 1s;
			}
		}
	}
}

		.cont-promo-texto{
			font-family: 'Philosopher',sans-serif;
			font-size: 1.2em;
			padding-top: 30px;
			padding-bottom: 40px;
		}


.cont-produtos{
	background-image: url("../imagens/board-bunch-cooking-349609.jpg");
	padding-bottom: 70px;
	padding-top: 50px;
	background-size: cover;

	.container{
		color: #ffffff;
	}

	.row-produtos{
		font-family: 'Philosopher',sans-serif;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		&__page{
			padding: 25px 0px;
		}

		&__select{
			ul{
				list-style-type: none;
				padding: 0px;
				padding-bottom: 20px !important;
				li{
					display: inline-block;
					margin: 20px 10px;
				}
			}

			.select-produtos{
				color: #ffffff;
				background-color: $vermelho-header;
				font-size: 20px;
				padding: 10px 20px;
				text-decoration: none;
			}

			.select-produtos:hover{
					color: $vermelho-header !important;
					background-color: #ffffff !important;
			}
		}
	}

	.row-produtos-torres{

		.select-produtos{
			background-color: $azul-torres;
		}

		.select-produtos:hover{
				color: $azul-torres !important;
		}
	}

	.row-acessorios-torres{

		.select-produtos{
			background-color: $vermelho;
		}

		.select-produtos:hover{
				color: $vermelho !important;
		}
	}

	.col-produtos{	
		text-align: left;
		a{
			text-align: center;
			border: dashed #ffff 1px;
			margin: 20px auto;
			width: 73px;
			color: #ffffff;	
			display: block;
			text-decoration: none;
			p{
				margin: 4px 0px 6px 0px;
			}
		}
		a:hover{
			background-color: #ffffff;
			color: #000000;
			border-style: solid;
		}
	}
}


.boxes,.boxes2,.boxes3{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	.col-produtos{
		width: 180px;
		margin: 0 2.3% 40px 2.3%;
		position: relative;
		p{
			position: absolute;
			background-color: rgba(123,25,19,0.7);
			text-align: center;
			bottom: 0px;
			margin-bottom: 0px;
			width: 100%;
			padding: 8px;
		}
	}
}

.boxes2{
	.col-produtos{
		p{
			background-color: rgba(0,126,192,0.7);
		}
	}
}

.boxes3{
	.col-produtos{
		p{
			background-color: rgba(255,68,68,0.7);
		}
	}
}

@media (max-width: 1140px){	
	.boxes,.boxes2{
		.col-produtos{
			margin: 0 3.2% 40px 3.2%;
			position: relative;
		}
	}
}

@media (max-width: 980px){	
	.boxes,.boxes2{
		.col-produtos{
			margin: 0 4.6% 40px 4.6%;
		}
	}
}

@media (max-width: 740px){	
	.boxes,.boxes2{
		.col-produtos{
			width: 200px;
			margin: 0 9% 40px 9%;
		}
	}
}

@media (max-width: 580px){	
	.boxes,.boxes2{
		.col-produtos{
			width: 200px;
			margin: 0 auto 40px auto;
		}
	}
}



.ativo{
	color: $vermelho-header !important;
	background-color: #ffffff !important;
}

.ativo-torres{
	color: $azul-torres !important;
	background-color: #ffffff !important;
}

.ativo-vermelho{
	color: $vermelho !important;
	background-color: #ffffff !important;
}

.animacao{
	animation: .6s zoom-in;
}



@keyframes zoom-in{
	0%{
		transform: scale(.1);
	}
	100%{
		transform: none;
	}
}

.cont-dicas,
.cont-empresa{
	padding-bottom: 70px;

	.row-dicas-menu .col-sm-12{
		ul{
			margin: 0px 0px 50px 0px;
			li{
				display: inline-block;
				width: 95px;
				padding:8px 0px;
				border-left: solid 1px;
				a{
					color: #000000;
					padding:10px 20px;
				}
			}

			li:first-child{
				border: solid 0px;
			}

			li:nth-child(2){
				border: solid 0px;
				font-weight: bold;
			}		
		}
	}

	.row-dicas__video{
		overflow: initial;
		&__youtube{
		max-height: 350px !important;
		}
		&__fundo{
			position: relative;
			left: -290px;
		}
		&--home{
		padding-bottom: 100%;			
		}
	}

	.row-dicas{
		&__marginBottom{
			margin-bottom: 40px;
		}
		&__colors{
			background-color: $vermelho-header;
			color: white;
		}
	}

	.row-pagina-dicas{
		.row-dicas__video{
			img{
				width: 100%;
			}
		}
	}

	.row-dicas__col-texto{
		font-family: 'Philosopher',sans-serif;
		text-align: left;
		font-size: 18px;
		padding: 12px 15px;
		margin: 17px 0px;
		&__paddingTop0{
			padding-top: 0px;
		}
		p{
			text-indent: 40px;
			margin-bottom: 35px;
		}
		p::first-letter {
			font-size: 200%;
		}
		.link-dicas{
			background-color: #a5241c;
			color: #ffffff;
			font-weight: bold;
			padding:15px 45px;
			box-sizing: border-box;
		}

		a{
			color: #ffffff;	
			font-weight: bold;
		}

		a.link-todas-dicas{
		font-family: 'Philosopher',sans-serif;
			font-size: 18px;
			padding: 10px 10px;
			border: dashed #000000 2px;
			color: #000000;
			text-decoration: none;
			margin-bottom: 20px;
		}

		a.link-todas-dicas:hover{
			color: #ffffff;
			background-color: #000000;
			border-style: solid;
		}
		&--wrapper{
			max-height: 310px;
			overflow: hidden;
			margin-bottom: 55px;
		}
	}

	.row-dicas-btn-veja-todas{
		font-family: 'Philosopher',sans-serif;
		padding: 35px 0px;
		a{
			font-size: 18px;
			padding: 10px 10px;
			border: dashed #000000 2px;
			color: #000000;
			text-decoration: none;
		}

		a:hover{
			color: #ffffff;
			background-color: #000000;
			border-style: solid;
		}
	}

	.row-empresa{
		&__imagem{
			float: left;
			margin: 0 30px 20px 0;
			&--sombra{
				box-shadow: 1px 1px 1px 1px gray;
			}
		}
		&__texto{
			text-align: left;
			word-spacing: 5px;
		}


	}



	.modal-content{
		border-radius: 10px !important;
	background-color: $vermelho-header;
	}

	.modal-footer{
		background-color: $vermelho-header;
		border-radius: 0px 0px 10px 10px;
		.btn{
			color: $vermelho-header;
			background-color: #ffffff;
			font-size: 1em;
			border: none;
		}
	}
}

.info-empresa-temporario{
	margin-top: 70px;
		p{
			margin-top: 20px;
			margin-bottom: 20px;
		}
		img{
			padding: 0 20px;
			max-width: 90%;
		}
	}

.outer-container-calculadora{


	background-color: #2b0707;
	color: #ffffff;
	padding-bottom: 70px;

	.clearfix::after {
	    content: "";
	    clear: both;
	    display: table;
	}

	.wrap-form-calc{
		font-family: 'Philosopher',sans-serif;
		border-bottom: solid #ffffff 1px;
		margin: 25px 0px;

		form{
			select{
				width: 100%;
				background-color: transparent;
				border-color: transparent;
				font-size: 20px;
				option{
					background-color:$vermelho-header;
				}
			}
		}
	}

	ul{
		padding: 0px;
		text-align: left;
	
		li{
			list-style-type: none;
			font-family: 'Philosopher',sans-serif;
			margin: 2px 0px;
		}
	
	}
}





.cont-produtos-aura{
	background-image: url("../imagens/aurabg.png");
	background-size: cover;
	padding-bottom: 70px;
	color: #000000;

	.row-produto-aura-title{
		margin: 50px 0px;
	}

	.row-produtos-aura{
		text-align: left;
		font-family: 'Philosopher',sans-serif;
		margin-bottom: 30px;
		.col-sm-3-produtos-aura{
			img{
				width: 100%;
				box-shadow: 3px 3px 3px 2px gray;
				margin-bottom: 20px;
			}
		}

	}
}

.cont-contato{
	width: 100%;

	.col-sm-6{
		padding: 0px;
	}

	.col-sm-6-mapa{
		iframe{
			border:0px ;
			width: 100% !important;
			height: 600px;
		}
	}

	.col-sm-6-formulario{

		background-color: #007cc2;
		color: #ffffff;
		padding-bottom: 53px;
		padding-left: 8%;
		padding-right: 8%;

		ul{ 
			padding: 0px;
			position: relative;
			margin-bottom: 70px;
			font-family: 'Philosopher',sans-serif !important;
			color: #ffffff;
			li{
				display: inline-block;
				a{
					color: #ffffff;
				}
				img{
					width: 20px;
				}
			}

			li:first-child{
				float: left;
			}
		}

		form{
			font-family: 'Philosopher',sans-serif !important;


			textarea{
				background-color: #007cc2;
				color: #ffffff !important;
				border: 0px;
				border-bottom: solid #ffffff 1px;
				border-radius: 0px;
				width: 100%;
				padding: 0px;
				margin-bottom: 40px;
			}

			input{
				background-color: #007cc2;
				color: #ffffff !important;
				border: 0px;
				border-bottom: solid #ffffff 1px;
				border-radius: 0px;
				width: 100%;
				margin-bottom: 40px;
			}

			.input-menor{
				width: 47%;

			}

			input:nth-child(2){
				margin-right: 4.95%;
			}

			input::placeholder {
			  color: #ffffff;
			}

			textarea::placeholder {
			  color: #ffffff;
			}

			button{
				border-color: #ffffff;
				border-radius: 0px;
				font-family: 'Roboto', sans-serif;
				background-color: #007cc2;
				color: #ffffff;
				font-size: 1.3em;
				padding: 10px 35px;
			}
		}
	}
}

.cont-newsletter{
	padding-top: 60px;
	margin-bottom: 20px;

	.row-newsletter{
		margin-bottom: 50px;
	}

	.col-sm-4,
	.col-sm-3,
	.col-sm-2,
	.col-sm-1{
		text-align: left;

		.wrap-logo-soc-newsletter{

			display: inline-block;
			text-align: center;
		
				.logo-newsletter{
		
					width: 123px !important;
					height: auto;
				}
		
				.menu-soc-links-newsletter{
					padding: 0px;
					li{
						display: inline-block;
						margin: 23px 10px;
					}
				}
			}

		.div-newsletter{
			position: relative;
			left: -28px;
			span{
				font-weight: bold;
			}
			text-align: center;
			.input-group{
				border-radius: 0px;
				margin: 0px auto 20px;

				max-width: 280px;
				.form-control{
					border-radius: 0px !important;
				}
				.btn {
					background-color: #000000 !important;
					color: #fff;
					border-radius: 0px !important;
				}
			}
		}
	}

	.col-sm-4,
	.col-sm-3,
	.col-sm-6{

		padding-right: 0px;
	
		.atendimento-loja{
	
			text-align: left;
			font-family: 'Philosopher',sans-serif;
			border: solid #000000 1px;
			padding-left: 25px;
			position: relative;
	
			span{
				position: relative;
				top: -12px;
				background-color: #ffffff;
				padding: 0 5px;

				spam{
					font-weight: bold;
				}
			}

			p{
				margin-bottom: 25px;
				margin-top: 8px;
			}
	
		}
	}

	.row-newsletter-menu{

		.col-sm-12-newsletter-menu{

			border-top: solid black 1px;

			.nav-newsletter-menu{
				display: inline-block;
				float: initial;
				color: #000000;
				font-size: 20px;
				li{
						margin: 0px 35px;
					a{
						color:#000000 !important;
						background-color: initial !important;
						padding: 60px 0px 40px 10px;

					}
				}
			}
		}
	}
}

footer{
	background-color: #eeeeee;
	padding: 20px 0px !important;
	.navbar-footer{
		background-color: initial;
		.ul-navbar-cards{
			font-family: 'Philosopher',sans-serif;
			li{
				a{
					padding-left: 6px;
					padding-right: 6px;
				}
			}
			li:first-child{
				padding-top: 16px;	
				padding-right: 20px;		
			}
		}
		.ul-navbar-kgrnet{
			li{
				a{
					padding-left: 6px;
					padding-right: 6px;
				}
			}
			li:first-child{
				padding-top: 16px;			
			}
		

		}
	}
}





/* CSS used here will be applied after bootstrap.css */

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}


.carousel-timeline{
	box-sizing: border-box;
	margin-top: 50px;
	padding-top: 80px;
	ol{
		bottom: initial;
		top: -30px;
		left: 30%;
		width: 100%;
		li, active{
			z-index: 1;
			background-color: #2b0707 !important;
			margin: 0 2% !important;
			text-decoration: none;
			text-indent: initial !important;
			width: 50px !important;
			height: 50px !important;
			border-radius: 25px;
			border:solid 2px;
			position: relative;
			span{
				top: 50%;
				position: absolute;
				transform: translate(-50%,-50%);
			}
		}
	}
	ol::before{
		z-index: -1;
		content: "";
		display: inline-block;
		position: absolute;
		width: 60%;
		left: 20%;
		top: 43%;
		height: 0px;
		padding: 3px;
		transform: translateY(-50%);
		background-color: #ffffff;
	}
	.carousel-inner{
		.item{
			text-align: left;
			img{
				float: left;
				margin-right: 20px;
				margin-bottom: 20px;
			}
		}
	}
	.carousel-control.right{
		right: -15%;
		background-image: none;
	}

	.carousel-control.left{
		left : -15%;
		background-image: none;
	}
	@media (max-width: 900px){
		.carousel-control.left,		
		.carousel-control.right{
			display: none;
		}

		ol::before{
			width: 80%;
			left: 10%;
		}
	}
	@media (max-width: 580px){
		ol{
			li{
				margin:0 0% !important;
				width: 44px !important;
				height: 44px !important;
				border-radius: 22px;
			}
		}
		ol::before{
			display: none;
		}
	}
}


.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    padding: 10px;
	box-shadow: 0px 12px 21px 1px rgba(0,0,0,0.2);
	border-radius: 0px 0px 10px 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    line-height: 13px;
    display: block;
}
.dropdown:hover .dropdown-content {display: block;}

.tabela{
	background-color: $vermelho-header;
	font-size: 1.2rem;
	color: #ffffff;
	td,th{
		outline: solid #fff 1px;
		padding: 1rem;
	}
}

@import "style_w580"