@media (max-width: 580px){

.navbar-torres{
	&__navbar-brand-torres{
		padding:10px 20px;
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		img{
			width: 78px;
		}
	}

	&__nav-menu-principal{
		margin-top: initial;
		width: 100%;
		li{
			margin-left: initial;
			text-align: center;
		}
	}

	&__botao-menu-responsivo{
			float: right;
			border-color: $vermelho-header !important;
			margin: 27px;
			background-color: #ffffff !important;
		.icon-bar{
			background-color: $vermelho-header !important;
		}
	}

	
	&__navbar-collapse-torres{
			border-color: $vermelho-header !important;
	}
}

.navbar-torres-fixo{
	top: 16px;
}

.carousel-torres{
	.carousel-caption{
		display: none !important;
	}
}

.carousel-torres-margin{
	margin-top: 105px;
}

.cont-promo-title{
	h2{
		font-size: 20px !important;
		margin: 12px 0px;
	}
}



.row-dicas{
	&__video{
		img{
			width: 100%;
		}
	}
}

.cont-promo{
	overflow: hidden;
	.row-promo{
		margin-top: 20px;
		margin-bottom: 20px;

		.col-promo-content{
			max-width: 330px;
			margin: auto;
			&__title{
				font-size: 28px !important;
			}
		}
	}
}

.cont-produtos{

	h2{
		margin: initial;
		margin-top: 20px;
	}

	background-image: initial;
	background-color: rgba(0,0,0,0.7);

	.row-produtos::before,
	.row-produtos::after{
		display: initial;
		content: initial;
	}
}

.cont-dicas{
	padding-bottom: 0px;
	.row-dicas__marginBottom:last-child{
		margin-bottom: 0px !important;
	}
}

.row-dicas-menu{
	ul{
		padding: 0px;
		margin-bottom: 0px !important;
		li{
			width: 40% !important;
			border: 0px !important;
		}
		li:first-child{
			width: 100% !important;
		}
	}
}


.row-dicas-title{
	h2{
		margin: initial;
		margin-top: 20px;
	}
}

.row-dicas-btn-veja-todas{
	padding: 0px !important;
}


.outer-container-calcladora{
	h2{
		margin: 0px;
		margin-top: 20px;
	}
}

.cont-produtos-aura{
	padding-bottom: 20px;
	.row-produto-aura-title{
		margin: 20px 0px;
	}

	.row-produtos-aura{
		.col-sm-3-produtos-aura{
				width:50%;
				float: left;
		}
	}
}


.cont-contato{

	text-align: center;

	.col-sm-6-mapa{
		iframe{
			height: 300px;
		}
	}

	.col-sm-6-formulario{
		h2{
			padding: 20px;
			margin: 0px;
		}
		ul{

			margin-bottom: 20px;
			li{
				width: 100%;
				text-align: left;
				padding-bottom: 10px;
			}
		}

		.input-menor{
			width: 100% !important;
		}

		input:nth-child(2){
			margin-right: 6.2% !important;
		}

		button{
			font-size: 0.85em !important;
		}
	}
}

.cont-newsletter{

	padding-right: 15px !important;

	.col-sm-2-logo,
	.col-sm-3-logo{
		text-align: center;
	}

	.atendimento-loja{
		margin-left: initial !important;
	}

	.col-sm-4,
	.col-sm-6{
		padding-right: 15px !important;
	}

	.div-instagram{
		margin-bottom: 20px;
	}

	.div-newsletter{
		left: 0px !important;
	}

	.row-newsletter-menu{
		margin-right: 0px;
		margin-left: 0px;

		.col-sm-12-newsletter-menu{
			border: 0px;
			li{
				margin: 20px 0px !important;
				float: left;
				width: 50%;
				a{
					padding: 0px !important;

				}
			}
			li:nth-last-child(1){
				width: 100% !important;
			}
		}
	}
}

footer{
	.ul-navbar-cards{
		padding: 0 35%;
		li{
			width: 50%;
			float: left;
		}
		li:first-child{
			width: 100%;
			margin-bottom: 20px;
		}
	}
}


.tabela{
	font-size: 0.8rem;
	td,th{;
		padding: 0.5rem;
	}
}

.imgFimdeAno{
	width:250px;
}

















}